// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.video-container {
    height: 380px;
    width: 500px;
    margin: 0px auto;
    border: 2px solid blue;
    position: relative;
    box-shadow: 1px 1px 11px gray;

    .my-video {
        width: 130px;
        position: absolute;
        left: 10px;
        bottom: 10px;
        border: 6px solid lightseagreen;
        border-radius: 6px;
        z-index: 2;
    }

    .user-video {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
}
